* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.region {
  max-width: 300px !important;
}
.listopition {
  max-width: 300px !important;
  font-size: 15px !important;
  font-weight: 400 !important;
}
.form-control:focus {
  box-shadow: none !important;
}
