* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.region {
  max-width: 300px !important;
}
.listopition {
  max-width: 300px !important;
  font-size: 15px !important;
  font-weight: 400 !important;
}
.form-control,
.form-check-input:focus {
  box-shadow: none !important;
}
.form-check {
  margin-left: 10px !important;
}
.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  padding: 13px;
}
label {
  display: inline-block;
  margin-left: 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
}
.popular-title {
  position: absolute;
  top: 10%;
  left: 10%;
}
.popular-title1 {
  position: absolute;
  top: 10%;
  left: 10%;
}
.best-text {
  position: absolute;
  top: 20%;
  left: 10%;
}
/* .erro_comment {
  float: right;
  font-size: 18px;
  color: red;
  font-weight: 300;
  text-align: right;
  padding-bottom: 0px;
  width: 100%;
}
.erro_comment span {
  padding: 0 0 10px;
  float: right;
} */
/* .valid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: var(--bs-form-valid-color);
} */
